/*--------------ШРИФТЫ-------------*/
body {
  font-family: Trebuchet MS;
  /*padding: 30px;
	.inputData{
		background-color: @gg;
		.row{
			.col-sm-6{
				padding-left: 2px;
				padding-right: 2px;
				p{
					text-align: left;
					vertical-align: 0px;
					padding-top: 8px; 
				}
				label{
					padding-top: 8px;
				}
				input{
					margin:3px;
				}
				textarea{
					margin:3px;
				}
			}
		}
		}*/
}
body .nopadding {
  padding: 0!important;
  margin: 0!important;
}
body .table-hover > tbody > tr:hover {
  background-color: #E5E5E5;
}
body table {
  border: none!important;
}
body table th {
  border: none!important;
}
body table td.tdLeft {
  text-align: left;
}
body table td {
  text-align: center;
  vertical-align: middle !important;
}
body table input {
  max-width: 20px;
  width: 20px;
}
body a:hover {
  background: #f3bd48;
  /* Цвет фона при наведении */
  color: #FE97F;
  /* Цвет текста при наведении */
}
body .tableKalendarnii {
  padding-top: 0px;
}
