/*--------------ШРИФТЫ-------------*/
body {
  font-family: Trebuchet MS;
  padding: 30px;
}
body .inputData {
  background-color: green;
}
body .inputData .row .col-sm-6 {
  padding-left: 2px;
  padding-right: 2px;
}
body .inputData .row .col-sm-6 p {
  text-align: left;
  vertical-align: 0px;
  padding-top: 8px;
}
body .inputData .row .col-sm-6 label {
  padding-top: 8px;
}
body .inputData .row .col-sm-6 input {
  margin: 3px;
}
body .inputData .row .col-sm-6 textarea {
  margin: 3px;
}
body table {
  font: Trebuchet MS;
  padding: 0px;
  border-left: none!important;
  border-bottom: none!important;
  border-top: none!important;
  border-right: none!important;
}
body th {
  color: red;
  border-left: none!important;
  border-bottom: none!important;
  border-top: none!important;
  border-right: none!important;
}
body .tableKalendarnii {
  padding-top: 30px;
}
