/*--------------ШРИФТЫ-------------*/

@font:Trebuchet MS;
@gg:green;

body {

	.nopadding {
		padding:0!important;
		margin:0!important;
	}

	font-family:@font; 

	.table-hover > tbody > tr:hover {
		background-color: #E5E5E5;
	}


	table{
		border: none!important;
		th{
			border: none!important;
		}
		td.tdLeft{
			text-align: left;
		}
		td{
			text-align: center;
			vertical-align: middle !important;
		}
		input{
			max-width:20px; 
			width: 20px;
		}


	}









	/*padding: 30px;
	.inputData{
		background-color: @gg;
		.row{
			.col-sm-6{
				padding-left: 2px;
				padding-right: 2px;
				p{
					text-align: left;
					vertical-align: 0px;
					padding-top: 8px; 
				}
				label{
					padding-top: 8px;
				}
				input{
					margin:3px;
				}
				textarea{
					margin:3px;
				}
			}
		}
		}*/



		a:hover {
			background: #f3bd48; /* Цвет фона при наведении */
			color: #FE97F; /* Цвет текста при наведении */
		}






		.tableKalendarnii{
			padding-top: 0px;
		}




	}


	/*--------------ШРИФТЫ-------------*/


	/*.nopadding {
		padding:0!important;
		margin:0!important;
	}


	table{

		border: none!important;
		th{
			border: none!important;
		}
		th:hover {

			color: none!important;
		}
		
		td{
			text-align: center;
			vertical-align: middle !important;
			.tdLeft {
				text-align: left;
			}


		}
		input{
			width: 20px;
		}
	}



	a:hover {
		background: #f3bd48; /* Цвет фона при наведении 
		Цвет текста при наведении */








