/*--------------ШРИФТЫ-------------*/
@font:Trebuchet MS;
@gg:green;

body {


	
	font-family:@font; 
	padding: 30px;
	.inputData{
		background-color: @gg;
		.row{
			.col-sm-6{
				padding-left: 2px;
				padding-right: 2px;
				p{
					text-align: left;
					vertical-align: 0px;
					padding-top: 8px; 
				}
				label{
					padding-top: 8px;
				}
				input{
					margin:3px;
				}
				textarea{
					margin:3px;
				}
			}
		}
	}

.tableKalendarnii{
	
}







}


