/*--------------ШРИФТЫ-------------*/

@font:Trebuchet MS;
@gg:green;

body {
padding-top: 20px;
	.nopadding {
		padding:0!important;
		margin:0!important;
	}

	font-family:@font; 

		.table-hover > tbody > tr:hover {
		background-color: #E5E5E5;
		border-color: #BC1414!important;
	}


	table{
		border: none!important;
		border-color: #BC1414!important;
		th{
			padding:0!important;
			margin:0!important;
			border: none!important;
			a{
			color: #CCCCCC;
			padding:0!important;
			margin:0!important;
			}
		}
		td.tdLeft{
			text-align: left;
		}
		td{
			text-align: center;
			vertical-align: middle !important;
		}
		input{
			max-width:20px; 
			width: 20px;
		}
	}

		a:hover {
			color: #FE97F; /* Цвет текста при наведении */
			text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		}






		.tableKalendarnii{
			padding-top: 0px;
		}




	}


	/*--------------ШРИФТЫ-------------*/


	/*.nopadding {
		padding:0!important;
		margin:0!important;
	}


	table{

		border: none!important;
		th{
			border: none!important;
		}
		th:hover {

			color: none!important;
		}
		
		td{
			text-align: center;
			vertical-align: middle !important;
			.tdLeft {
				text-align: left;
			}


		}
		input{
			width: 20px;
		}
	}



	a:hover {
		background: #f3bd48; /* Цвет фона при наведении 
		Цвет текста при наведении */








